# ==========================================
# OS & Environment Files
# ==========================================
.DS_Store
Thumbs.db
.env
.venv/
venv/
env/

# ==========================================
# Python & IDE Caches
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
.pytest_cache/

# ==========================================
# Jupyter Notebooks
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Data & Large Media Files
# ==========================================

data/raw/
data/processed/
data/labels/
data/videos/*.mp4
!data/dataset.yaml

# ==========================================
# Outputs & Heavy ML Logs
# ==========================================
outputs/*.mp4
mlruns/

# ==========================================
# Streamlit
# ==========================================
.streamlit/